body {
    background:limegreen;
    font-family:Arial, Helvetica, sans-serif; 
}

.assignments{
    display:flex;
    flex-wrap: wrap;
}

.assignment {
    width:20%;
    display:flex;
    padding:10px;
    margin: 10px;
    margin-bottom: 30px;
    background: orange;
    border-radius:5px;
    box-shadow: 5px 10px navy;

}
.assignment img{
    width:208px;
    padding:10px;
    margin-right: 20px;
    border-radius: 5px;
    display:block ;
    margin:auto;
}

h1 {
    color:purple;
    text-align: center;
}
a{
    text-decoration:none;
    color:black
}
.assignment a :hover{
    color: powderblue;

}